@import url('https://fonts.cdnfonts.com/css/star-wars');

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #FFE81F;
    border-color: white;
}

h1 {
    font-family: 'Star Wars', sans-serif;
}

ul {
    list-style-type: none;
}

table {
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0 2px 1px -1px white, 0 1px 1px #fffffffe, 0 1px 3px #fffffffd;
    border-collapse: collapse;
}
thead {
    border-radius: .5rem;
}
th, td {
    padding: .5rem;
}
th {
    text-align: start;
    font-weight: 600;
    background-color: gray;
}

tbody td:hover {
    background-color: #2719C7;
}

tr {
    border-bottom: 1px solid gray;
    cursor: pointer;
}

input {
    padding: .5rem;
    font-size: 16px;
    border-radius: .25rem;
    border: 2ps solid #00000000;
    outline: none;
}
input:focus {
    border: 2px solid #2FF924;
}
@media screen and (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
    .row-breakable {
        flex-direction: column;
    }
}
.filter-row {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}
.margin-auto-r {
    margin-right: auto;
}

.page-btns {
    text-align: center;
    border-radius: 100%;
    background-color: #00000000;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.page-btns:hover {
    background-color: #2719C7;
}

.material-symbols-outlined {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.material-symbols-outlined:hover {
    background-color: #2719C7;
}

.page-num {
    font-size: 24px;
    margin: 0 .5rem 0 .5rem;
}

.character-card {
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}
.row {
    display: flex;
    align-items: center;
}
.row-breakable {
    border-top: 1px solid #0000001f;
    display: flex;
    padding: .5rem;
}

#character-facts {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
}

.hidden {
    display: none;
}
